<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
    <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="Enter your username" style="width: 300px">    
    <input type="submit" value="Submit">
    </form>
    </div>
    </div>
</nav>