<% if(user) { %>
    <div>user id: <%= user.id %></div>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
<% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
<% } %>