
</head>
<body>
<% include partials/_header %>
<h2>Login to TinyApp</h2>
<form action="/login" method="POST">
    <div class="container">
      <label><b>E-mail</b></label>
      <input type="email" placeholder="Enter email" name="email">

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">
        
      <button type="submit">Login</button>
      </form>
</div>
</body>
</html>