<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <ul>
     <% urls.forEach(function(url) { %>
     <li>
       <%= url.longURL %> gets shortened to <%= url.shortURL %> 
       <a href="/urls/<%= url.shortURL %>">Edit</a>  <form method="POST" action="/urls/<%= url.shortURL %>/delete">
        <input type="submit" value="Delete"></form>
      
    </li>
     <% }); %>
   </ul>
<p>Go <a href="/urls/new">here</a> to shorten your URL</p>
</body>
</html>